* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: url(imges/home/background-home-desktop.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 0 40px;
}
.navigation {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px 0;
  width: 58%;
  display: flex;
  justify-content: center;
}
.navigation ul li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.navigation ul a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 70px;
  position: relative;
  font-family: "Barlow Condensed", serif;
  font-size: 16px;
  font-weight: bold;
}
.navigation ul a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: -31px;
  right: 0;
  background-color: #ffffff8c;
}
.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: -31px;
  right: 0;
  background-color: white;
}
section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 150px;
}
.part-1 {
  width: 44%;
  font-size: 28px;
  font-family: "Barlow Condensed", serif;
  text-align: start;
}
.part-1 div {
  font-size: 100px;
  margin: 10px 0;
  font-family: "Bellefair", sans-serif;
}
.explore {
  text-decoration: none;
  text-align: center;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.part-2 {
  background-color: #ffffff;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Bellefair", sans-serif;
  font-weight: lighter;
  font-size: 32px;
}

.explore:hover {
  transition: 0.4s;
  background-color: #ffffff14;
}
.nav-bar {
  display: none;
  color: white;
}
.close {
  display: none;
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    background: url(imges/home/background-home-mobile.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    overflow-y: hidden;
    height: 100vh;
  }
  header {
    margin: 10px 0 0 10px;
  }
  .navigation {
    display: none;
  }
  .nav-bar {
    display: block;
    position: absolute;
    right: 20px;
    font-size: 23px;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 25px;
  }
  .part-1 {
    width: 90%;
    font-size: 19px;
    text-align: center;
    line-height: 25px;
    word-spacing: 1px;
    color: #ffffff85;
  }
  .part-1 span {
    letter-spacing: 2.7px;
    font-size: 22px;
  }
  .part-1 div {
    font-size: 80px;
    line-height: 100px;
    color: white;
  }
  .explore {
    width: 300px;
    height: 300px;
  }
  .part-2 {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
  .close {
    display: block;
    color: #ffffff;
    margin-bottom: 45px;
    margin-right: 20px;
    text-align: end;
  }
  .navigation {
    background-color: #00000066;
    backdrop-filter: blur(15px);
    padding: 22px 0 50px 20px;
    width: 70%;
    position: fixed;
    top: 0;
    right: 0;
    min-height: 100vh;
  }
  .navigation ul li {
    display: block;
    width: 100%;

    margin-bottom: 20px;
  }
  .active-res::after {
    content: "";
    position: absolute;
    width: 2%;
    height: 100%;
    bottom: 0;
    right: 0px;
    background-color: white;
  }
  .active::after {
    display: none;
  }
}
